<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Band</title>
    <link rel="stylesheet" href="../css/main.css" />
    <link rel="stylesheet" href="../css/responsive.css">
    <link rel="stylesheet" href="../css/img/themify-icons/themify-icons.css" />
    
</head>
<body>
    <div id="wrapper">
        <div id="header">
            <!-- /*<<<<<<<Start>>>>>*/ -->
            <ul id="nav">
                <li><a href="#">Home</a></li>
                <li><a href="#band">Band</a></li>
                <li><a href="#tour">Tour</a></li>
                <li><a href="#contact">Contact</a></li>
                <li>
                    <a href="#">
                        More
                        <i class="nav-arrow-down ti-angle-down"></i>
                    </a>
                    <ul class="subnav">
                        <li><a href="#">Merchandise</a></li>
                        <li><a href="#">Extra</a></li>
                        <li><a href="#">Media</a></li>
                    </ul>
                </li>
            </ul>
            <!-- /*<<<<<<<End>>>>>*/ -->
            <div id="btn-search">
                <div class="btn-timkiem ti-search"></div>
            </div>
            <div class="mobile-menu">
                <i class="ti-menu"></i>
            </div>
        </div>

        <div id="silder">
            <div class="text-content">
                <h2 class="heading">New York</h2>
                <div class="description">The atmosphere in New York is lorem ipsum.</div>
            </div>

        </div>

        <div id="content">
            <!-- TheBandSection -->
            <div id="band"></div>
            <div class="content-section">
                <h2 class="section-heading">THE BAND</h2>
                <p class="section-sub-heading">We love music.</p>
                <p class="about-text">We have created a fictional band website. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            </div>
            <!-- MemberList -->
            <div class="member-list">
                <div class="member-item">
                    <p class="member-name">Name</p>
                    <img src="/lesson_1/slider/bandmember.jpg" alt="member-nickname" class="member-avt">
                </div>
                <div class="member-item">
                    <p class="member-name">Name</p>
                    <img src="/lesson_1/slider/bandmember.jpg" alt="member-nickname" class="member-avt">
                </div>
                <div class="member-item">
                    <p class="member-name">Name</p>
                    <img src="/lesson_1/slider/bandmember.jpg" alt="member-nickname" class="member-avt">
                </div>
            </div>

            <!-- ToutDatesSection -->
            <div id="tour" class="tour_section">
                <div  class="content-section">
                    <h2 class="section-heading text-white">TOUR DATES</h2>
                    <p class="section-sub-heading">Remember to book your tickets!</p>

                    <ul class="ticklist">
                        <li>September<span class="sold-out margin-16px">Sold Out</span></li>
                        <li>October<span class="sold-out margin-16px">Sold Out</span></li>
                        <li>November<span class="quantity">3</span></li>
                    </ul>

                    <!-- place -->
                     <div class="row place-list">
                        <div class="col place-item">
                            <img src="/lesson_1/slider/newyork.jpg" alt="" class="place-img">
                            <div class="place-body">
                                <h3 class="place-heading">New York</h3>
                                <p class="place-time">Fri 27 Nov 2016</p>
                                <p class="place-desc">Praesent tincidunt sed tellus ut rutrum sed vitae justo.</p>
                                 <button  class="place-btn js-buy-tickets">Buy Tickets</button>
                            </div>
                        </div>

                        <div class="col place-item">
                            <img src="/lesson_1/slider/paris.jpg" alt="" class="place-img">
                            <div class="place-body">
                                <h3 class="place-heading">New York</h3>
                                <p class="place-time">Fri 27 Nov 2016</p>
                                <p class="place-desc">Praesent tincidunt sed tellus ut rutrum sed vitae justo.</p>
                                 <button  class="place-btn js-buy-tickets">Buy Tickets</button>
                            </div>
                        </div>

                        <div class="col place-item">
                            <img src="/lesson_1/slider/sanfran.jpg" alt="" class="place-img">
                            <div class="place-body">
                                <h3 class="place-heading">New York</h3>
                                <p class="place-time">Fri 27 Nov 2016</p>
                                <p class="place-desc">Praesent tincidunt sed tellus ut rutrum sed vitae justo.</p>
                                 <button class="place-btn js-buy-tickets">Buy Tickets</button>
                            </div>
                        </div>
                     </div>  
                </div>
            </div>

            <!-- ContactSection -->
             <div id="contact"></div>
            <div  class="content-section">
                <h2 class="section-heading">CONTACT</h2>
                <p class="section-sub-heading">Fan? Drop a note!</p>

                <div class="row contact-content">
                    <div class="col col-half contact-info">
                        <p><i class="ti-location-pin"></i>Chicago,US</p>
                        <p><i class="ti-mobile"></i>Phone: +00 151515 </p>
                        <p><i class="ti-email"></i>Email: mail@mail.com</p>                    
                    </div>
                    <div class="col col-half">
                        <form action="">
                            <div class="row">
                                <div class="col col-half contact-form">
                                    <input type="text" class="from-control" required placeholder="Name">
                                </div>
                                <div class="col col-half">
                                    <input type="email" class="from-control" required placeholder="Email">
                                </div>
                            </div>
                            <div class="row mt-8">
                                <div class="col col-full">
                                    <input type="text" class="from-control" required placeholder="Message">
                                </div>
                            </div>
                            <button class="btn-send mt-16">SEND</button>
                        </form>
                    </div>
                </div>
            </div>
            <!-- End-ContactSection -->
            <div class="map-section">
                <img src="/lesson_1/slider/map.jpg" alt="" class="map-img">
            </div>
        </div>
        <div class="footer">
            <div class="social">
                 <a href=""><i class="ti-facebook"></i></a>
                 <a href=""><i class="ti-instagram"></i></a>
                 <a href=""><i class="ti-youtube"></i></a>
                 <a href=""><i class="ti-pinterest"></i></a>
                 <a href=""><i class="ti-twitter"></i></a>
                 <a href=""><i class="ti-linkedin"></i></a>
            </div>
            <p class="copy-r">Powered by 
                <a href="https://www.w3schools.com/" class="w3">w3.css</a>
            </p>

        </div>



    </div>
    <div class="model js-model">
        <div class="model-container js-model-container">
            <div class="model-close js-close-btn">
                <i class="ti-close"></i>
            </div>
            <header class="model-header">
                <i class="modal-heading-icon ti-bag"></i>
                Tickets
            </header>
            <div class="model-body">
                <lable for="" class="model-label">
                    <i class="ti-shopping-cart"></i>
                    Tickets, $15 per person
                </lable>
                <input type="text" class="model-input" placeholder="How many?">
    
                <lable for="" class="model-label">
                    <i class="ti-user"></i>
                    Send To
                </lable>
                <input type="email" class="model-input" placeholder="Enter email">
                <button id="buy-tickets">
                    <i class="ti-check"></i>
                    Pay
                </button>
            </div>
            <footer class="model-footer">
                <p class="need-help">Need <a href="#" class="help">help?</a></p>
            </footer>
        </div>
    </div>
    
</body>
<script src="../js/main.js"></script>
<script>
    const buyBtns = document.querySelectorAll('.js-buy-tickets');
    const modelk = document.querySelector('.js-model');
    const btnClose = document.querySelector('.js-close-btn');
    const modelContainer = document.querySelector('.js-model-container');

    console.log(buyBtns);
    console.log(modelk);
    console.log(btnClose);
    function showBtn(){
        modelk.classList.add('open');
    }
    function hideBtn(){
        modelk.classList.remove('open');
    }
    for(buyBtn of buyBtns){
        buyBtn.addEventListener("click",showBtn);
    }
    btnClose.addEventListener("click",hideBtn);
    modelk.addEventListener("click",hideBtn);
    modelContainer.addEventListener("click",function(event){
        event.stopPropagation();
    });
    // mobile
    const header = document.getElementById('header');
    const menu = document.querySelector('.mobile-menu');
    function showheader(){
        var isClose = header.clientHeight === 47;
        if(isClose){
            header.style.height = 'auto';

        }else{
            header.style.height = '46.5px';
        }
    }
    menu.addEventListener("click",showheader);
    // tự động đóng khi chọn menu
    const menuitem = document.querySelectorAll('#nav li a[href*="#"]');
    console.log(menuitem);
    for(var i = 0 ; i < menuitem.length ; i++){
        const menu = menuitem[i];
        menu.onclick = function(event){
            const isParent = this.nextElementSibling && this.nextElementSibling.classList.contains('subnav');
            if(isParent){
                event.preventDefault();

            }else{
                header.style.height = '46.5px';
            }
        }

    }


</script>
</html>